ai_env/
ai_env312/
.env
__pycache__/
*.pyc
.chroma_db/
.chroma_db_twin/
.chroma_db3/
.env
digital-twin/__pycache__/
digital-twin/*.pyc
digital-twin/chroma_db/
digital-twin/chroma_db_twin/
digital-twin/chroma_db3/
